In [26]:
print("Hello World")

Hello World

In [27]:
var = 10
print(var)

10

In [28]:
var1 = 100
var2 = "Deep Learning"

In [30]:
print(var1,var2)

100 Deep Learning

In [31]:
10+50

60

In [33]:
a = 10
b =50
print(a+b)
print(a-b)

60
-40

<h4> Inputs

In [34]:
num1 = input("enter the number\t:")

enter the number	:50

In [35]:
print(num1+10)

TypeError: can only concatenate str (not "int") to str

In [36]:
num1 = int(num1)
print(num1 + 10)

60

In [37]:
a = int(input("Enter the first number to add : "))
b = int(input("Enter the second number to add: "))

sum = a + b

print("The Sum of {0} and {1} is {2}".format(a,b,sum))

Enter the first number to add : 10
Enter the second number to add: 20
The Sum of 10 and 20 is 30

In [38]:
# In the above example, sum of two numbers in Python:
a = 10
b = 20
print(a+b)

# Here 10,20 are literals, stored in variable(identifier) a, b. 
# print is a keyword and + is an operator

30

<h4> Literals

In [40]:
a = 10 #integer 
b = 1.0 #Float
c = 10 +9j #Complex
d = "hello" 
e = True
f = False
print(type(a), type(b), type(c), type(d), type(e), type(f), sep = "\n")

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [41]:
x = true
type(x)

NameError: name 'true' is not defined

In [42]:
# True --> Camelcase - Boolean value
# true --> Not a keyword/Boolean value

In [43]:
#String data types - can be created with single quote as well
e = 'python'
print(type(e))

<class 'str'>

In [44]:
##Identifiers in Python

In [49]:
hima = 10
Hima = 10
hima1 = 10
_hima = 10
# h@ima = 10 #Invaild Identifier format
# hima
# hima~himan = 10

In [50]:
var = 10
Var = 'Himanshu' #python is case sensitive
vaR = 100
print(var,Var, vaR)

10 Himanshu 100

Variable Creation Rule
1. Variable Name is case sensitive
2. being with English letter or underscore
3. only special character allowed is "_"
4. variable cant be keyword
5 variable can be Alpha Numeric

In [52]:
var_2_1 = 10
_13var = 11

In [53]:
print(_13var)

11

In [54]:
2132xy = 12

SyntaxError: invalid syntax (<ipython-input-54-188e8a0aa642>, line 1)

In [63]:
import keyword
keyword.kwlist
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [61]:
len(keyword.kwlist)

35

In [64]:
 in = 10

SyntaxError: invalid syntax (<ipython-input-64-0a9cee926e19>, line 1)

In [65]:
In = 10

In [66]:
class
True
False
None
and

SyntaxError: invalid syntax (<ipython-input-66-f2887dd34121>, line 1)

In [67]:
#Rules For Naming the Identifier

x = 10 
print(x)

10

In [68]:
FirstName ="Himanshu"

In [69]:
first name = "Himanshu" # You will get a syntax error because you cannot use any spaces in between the variable name. 
#first_name = 'Edureka'

SyntaxError: invalid syntax (<ipython-input-69-2b2238611dcf>, line 1)

In [71]:
Count = 10
print(count) #You will get an error because Python is case-sensitive language ‘Count’ and ‘count’ are treated as two different variables.
#print(Count)

NameError: name 'count' is not defined

In [ ]:
for = 10 # you will get error because the reserved kkeyword cannot be used
#_for = 10

In [72]:
_for = 10 #Valid

In [73]:
#9var = 10 # You will get an error because variable name cannot start with a number. It only starts with _, A-Z, a-z
var9 = 10

In [74]:
# Number + number --> Datatype to be same
# string + number --> get error(convert the value from one data type to the other = type casting)

In [76]:
print("Edureaka" + 10) #  You are getting this TypeError because you cannot add string with integer

TypeError: can only concatenate str (not "int") to str

In [77]:
print(" Himanshu + 17")

 Himanshu + 17

In [81]:
print('Himanshu' + '17') # see their is no space between them
type('Himanshu' + '17')

Himanshu17

str

In [85]:
a = "Himanshu"
b ="17"
print(a,b) # here it gives you the space.
type(a)

Himanshu 17

str

In [86]:
$at = 10 #You are getting this error as only special character allowed in Python is underscore(_)
# _at = 10
# at = 10

SyntaxError: invalid syntax (<ipython-input-86-7a73ee8aa76a>, line 1)

In [87]:
9Himasnhu = 10 # you will get the error as Identifier/variable name should 
#begin with character or underscore

SyntaxError: invalid syntax (<ipython-input-87-16121f62f67e>, line 1)

In [88]:
himan#shaky = 10
#throw an error as only special character allowed is underscored(_)

NameError: name 'himan' is not defined

In [97]:
a = 10
b = 20

##Operator in python
### Arithmetic Operators and Built-in Functions - Using Python as a calculator
The following are examples of the kinds of Python expressions that we can use.

| Operator | Description |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod (remainder) |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [98]:
#operand 1 & operand 2
#Operand (Operator) Operand 2 -->Syntax

In [99]:
6 + 5

11

In [100]:
20 -13.5

6.5

In [101]:
3.14*4

12.56

In [102]:
2*4 #multiplication

8

In [103]:
2**4 #power of

16

In [104]:
19%3 # mod or remainder

1

In [105]:
19//3 #floor Divsion

6

In [106]:
19/3 #Division

6.333333333333333

In [114]:
var = 0.0000 
var = 00000
var = 100
var % 3

1

In [115]:
- var # negation

-100

In other words, the fraction 10 / 3 can be rewritten as 3 1/3, so the remainder is `1`.

Operator order of precedence (from highest to lowest)

- `**`

- `-` (negation)

- `*`, `/`, `//`, `%` (left to right)

- `+` (addition), `-` (subtraction) (left to right)

In [116]:
5**2*6+100-200

50

In [117]:
#Experiment
10 ** 2 *4 + 10 /2 - 5

400.0

#### Encountering Errors
When programming, it is common to encounter errors.  You will learn how to interpret the error messages, so that you can fix your code.  Here are a few examples:

In [118]:
 3  +

SyntaxError: invalid syntax (<ipython-input-118-8598b6e23d74>, line 1)

In [119]:
3 + 5 ) * 22

SyntaxError: unmatched ')' (<ipython-input-119-ecd091ea1616>, line 1)

In [121]:
2* * 5 # their should be no space between the **

SyntaxError: invalid syntax (<ipython-input-121-d43fd5bf46cc>, line 1)

In [122]:
9/0

ZeroDivisionError: division by zero

In [123]:
print(dir(locals()['__builtins__']))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

#### Practice Exercise: Writing expressions

1. A patient just turned 95 years old.  Write a Python expression to calculate her age in days.
2. A father reports that his son's temperature was 39.1 degrees Celsius when measured at home.  Write an expression to covert the temperature from Celsius to Fahreneheit.  
**Hint:** To convert Celsius to Fahreneheit Multiply by 9, divide by 5, and then add 32.

In [129]:
# Example 1
age = 93
days = 365

print("Age in days: " + str (age *days)+" days")

Age in days: 33945 days

In [130]:
#Example 2
temp_cel = 39.1
temp_far = 9*temp_cel/5 + 32
print("The Temperature in fahreneheit is {0} F". format(temp_far))

The Temperature in fahreneheit is 102.38000000000001 F

In [131]:
####Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [132]:
print(round(10.678))

11

In [133]:
print(round(10.478))

10

In [134]:
print(round(10.500))

10

In [135]:
print(round(10.478, 2))

10.48

In [136]:
print(round(10.478 , 1))

10.5

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [139]:
c = 15 +4j
type(c), abs(c)

(complex, 15.524174696260024)

In [145]:
c =complex('5+2j')
print(abs(c))

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [148]:
divmod(10,3)

(3, 1)

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [150]:
pow(2,4,3) # 2 **4 = 16 then 16%3 -----> 1

1

###Assignment Operator
Used to assign value to a variable


| Operator | Example | Similar to 
|----------|---------|----------|
| = |x=10 |x = 10
| +=  | x+=5 | x = x + 5
| -= | x-=5 | x = x - 5
| *=  | x*=5 |x = x * 5 
| /=  | x/=5 |x = x / 5 
| %=  | x%=5 |x = x % 5 
| **=  | x**=5 |x = x ** 5
| &=  | x&=5 |x = x & 5
| ^=  | x^=5 |x = x ^ 5
| <<=  | x<<=5 |x = x << 5

In [155]:
x = 5
x +=5
print(x)

10

In [156]:
x *=5
print(x)

50

### Comparison Operators 

These operators will allow us to compare variables and output a Boolean value (True or False). 

<h3> Table of Comparison Operators </h3><p>  In the table below, consider a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [157]:
10 < 3, 10 >3 ,10 ==3, 10!=3, 10>=3,10<=3

(False, True, False, True, True, False)

Let's now work through quick examples of each of these.

#### Equal

In [158]:
2 == 2

True

In [159]:
1 == 0

False

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [160]:
2 ! = 1

SyntaxError: invalid syntax (<ipython-input-160-e42401d91c85>, line 1)

In [161]:
2 != 1

True

#### Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: **and** and **or**.

Let's look at a few examples of using chains:

In [162]:
1<2<3

True

The above statement checks if 1 was less than 2 **and** if 2 was less than 3. We could have written this using an **and** statement in Python:

In [164]:
1 < 2 and 2 < 3

True

In [165]:
1 < 3 > 5

False

###Logical Operator
Logical Operators are used to combine conditional statements

| Operator | Description | Example
|----|---|---|
| and  | Returns True if both statements are true | x < 5 and  x < 10	
| or  | Returns True if one of the statements is true | x < 5 or  x < 10	
| not  | Reverse the result, returns False if the result is true and vice versa | not(x < 5 or  x < 10)

The above checks if 3 is larger than both of the other numbers, so you could use **and** to rewrite it as:

In [166]:
x = 2
x < 5 and x < 10

True

In [167]:
False and True

False

In [168]:
True and True

True

In [169]:
False and False

False

In [170]:
1<3 and 3>2

True

It's important to note that Python is checking both instances of the comparisons. We can also use **or** to write comparisons in Python. For example:

In [171]:
 1 ==2 or 2<3 #False or True

True

In [172]:
True or False

True

In [173]:
True or True

True

In [174]:
False or False

False

In [175]:
not False

True

In [176]:
not True

False

In [177]:
not(2 < 5)

False

Note how it was true; this is because with the **or** operator, we only need one *or* the other to be true. Let's see one more example to drive this home:

###Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

Extra Information - https://www.journaldev.com/26737/python-bitwise-operators

In [179]:
a = 2 #10
b = 3 #11
print(a & b) #10

2

In [182]:
bin(2)

'0b10'

In [183]:
bin(3)

'0b11'

In [184]:
bin(50)

'0b110010'

In [185]:
5 >> 1

2

In [186]:
bin(5)

'0b101'

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [187]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

###Identity Operator
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.


| Operator | Description | Example
|----|---|---|
| is  | Returns True if both variables are the same object| x is y
| is not  | Returns True if both variables are not the same object| x is not y

In [189]:
x = 5
y = 5
x is y

True

###Membership Operator
Membership operators are used to test if a sequence is presented in an object

| Operator | Description | Example
|----|---|---|
| in  | Returns True if a sequence with the specified value is present in the object| x in y
| not in  | Returns True if a sequence with the specified value is not present in the object| x not in y

In [192]:
x = 'hima'
y = 'himanshu'

x in y

True

In [193]:
# Line 1
# Line 2
# Line 3

In [194]:
"""
Line 1
Line 2
Line 3
"""

'\nLine 1\nLine 2\nLine 3\n'

In [201]:
a = """ 
    {0}
    {1}
    {2}
"""

In [203]:
print(""" 
    {0}
    {1}
    {2}
""".format(8,5,3))

    8
    5
    3

In [204]:
1029/10, 1029 //10

(102.9, 102)

## Interactive Notebook (careful)

In [205]:
import numpy as np

In [206]:
round()

TypeError: round() missing required argument 'number' (pos 1)

In [208]:
round(100.436768), round(100.2356, 2)

(100, 100.24)

In [210]:
abs(100.436768)

100.436768

##Literals in Python
Literals are values used in **Python**.
![](https://i.imgur.com/KvqspwV.png)

In [213]:
#String literals --> A string literal is a sequence of xero or more characters enclose within single, double or triple quotation marks.
text1 ="Himanshu"
text2="Himanshu's"
text3="123"
text4 ='How ya \
doing' #Adding black slash at the end of each line - to write multi line comment
text6 = "hey how \
are you doing"
text5 = '''hello everyone!
how are you?''' #Note how multiple statements are written
text7= '''
Line 1
Line 2
Line 3'''


print(text1)
print(text2)
print(text3)
print(text4)
print(text5)
print(text6)
print(text7)

Himanshu
Himanshu's
123
How ya doing
hello everyone!
how are you?
hey how are you doing

Line 1
Line 2
Line 3

In [214]:
text3 + 100

TypeError: can only concatenate str (not "int") to str

**Important Escape Sequence in Python**

![](https://i.imgur.com/IUvhv5i.jpg)

In [217]:
print("Hello \n World")
#\'
print('Hey \'Deep Learning\' this is class 1')

Hello
 World
Hey 'Deep Learning' this is class 1

In [218]:
print("Hello \\")
# \n --> Nexr line
#\ ---> escape sequence character
#\t - tab
#\' - single quotation
#\" - double quotation
#\\ - single backslash

Hello \

In [222]:
# Numeric Literal --> There are four types of numeric literals: integers, floating point numbers, and imaginary numbers.
# NOTE: Integers in Python 3 are of unlimited size. Python 2 had two integer types - int and long. There is no 'long integer' in Python 3 anymore.

b = 0b11100 #Binary literals
d = 110 #Decimal Literal
o = 0o100 #Octal Literal
u = 0x14d #Hexadecimal Literal

#Float Literal
float_1 = 3.14
float_2 = 1.5e4 # e -power 10

#Complex Literal
c = 5+3.14j

print(b,d,o,u)
print(float_1,float_2)
print(c, c.imag, c.real)

#NOTE: Note that numeric literals do not include a sign; a phrase like -1 is actually an expression composed of the unary operator `-' and the literal 1.

28 110 64 333
3.14 15000.0
(5+3.14j) 3.14 5.0

In [223]:
#Boolean Literal --> Python literal Boolean has two values. One is True, and another one is False.
# Additionally, 1 and 0 represent True and False, respectively.
a = (10 == True)  
b = (20 == False)  
c = (30 == True)  
x = True + 10  
y = False + 10  
add = True + 10.56  
print("a is", a)  
print("b is", b)  
print("c is", c)  
print("x:", x)  
print("y:", y)  
print("add: ",add)
# Broadcasting

a is False
b is False
c is False
x: 11
y: 10
add:  11.56

In [224]:
a = (True == 10)

In [225]:
a

False

In [226]:
type(True), type(10), type(10.56)

(bool, int, float)

In [227]:
#Broadcasting
# implicit broadcasting
# Value from lower data type is converted to higher data type to reduce the data loss - automatically

#Explicit Broadcasting
# Programmers specify how the values to be treated

In [228]:
x = 10
y = 15.5
add = x + y
print("result: ",add)
print(type(x),type(y),type(add))

result:  25.5
<class 'int'> <class 'float'> <class 'float'>

In [229]:
x = True + 10
y = False + 10.52 # Float
print("x : ", x)
print("y : ", y)
print(type(x),type(y))

x :  11
y :  10.52
<class 'int'> <class 'float'>

In [230]:
x = True + 10+5j  
y = False + 10.52+5j # 0.0
print("x :",x)
print("y : ",y)
print(type(x),type(y))

x : (11+5j)
y :  (10.52+5j)
<class 'complex'> <class 'complex'>

In [231]:
x[1] #complex' object is not subscriptable

TypeError: 'complex' object is not subscriptable

In [233]:
x.imag

5.0

In [234]:
x.real

11.0

In [235]:
#Implcity broadcasting
x = "100" # String
y = 50 #integer
print(type(x),type(y))
add = x + y
print("result: ",add)
print(type(add))

<class 'str'> <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [236]:
# int --> integers
#float --> float
#complex -->complex
#str --> string
# bool -->Boolean values

In [239]:
print(int(10.568))
#int(5+7j) #Not possbile to convert Complex to integer
print(int("100"))
print(int(True))
print(bool(10))

10
100
1
True

In [240]:
int('Hello')

ValueError: invalid literal for int() with base 10: 'Hello'

In [241]:
float(10), float("10")

(10.0, 10.0)

In [245]:
str(10), str(10.2), str(True), str(10+2j)

('10', '10.2', 'True', '(10+2j)')

In [246]:
bool(1), bool("Himanshu"), bool("10+1j")

(True, True, True)

In [247]:
x = 10
y = 15.7
add = x + int(y)
print("result: ",add)
print(type(x),type(y),type(add))

result:  25
<class 'int'> <class 'float'> <class 'int'>

In [248]:
# Special Literal --> The None keyword is used to define a null value, or no value at all. 
#None is not the same as 0, False, or an empty string. None is a datatype of its own (NoneType) and only None can be None.
x = None
print(x)
type(x) #Used to check the data type of the variable

None

NoneType

In [249]:
None ==0

False

In [250]:
None == False

False

In [251]:
#basic broadcasting

![image.png]()

In [253]:
true = 10 #correct

In [254]:
#A
print(type([10]))
#B
print(type(10))
#C
print(type((10,14)))
#D
print(type({10})) #

<class 'list'>
<class 'int'>
<class 'tuple'>
<class 'set'>

In [255]:
x = 1000

In [256]:
# How to get the input
# input("Hint")
x = input("What do u want to assign for x :")
print(x)

What do u want to assign for x :233
233

In [257]:
type(x)

str

In [258]:
num1 = input("enter num 1 :")
num2 = input("enter num 2 :")
print("data type of num1 & num2 is:",type(num1),type(num2))
add = num1+num2
print(add)
print("data type of output is :",type(add))

enter num 1 :10
enter num 2 :15
data type of num1 & num2 is: <class 'str'> <class 'str'>
1015
data type of output is : <class 'str'>

In [259]:
num1 = int(input("enter num 1 :"))
num2 = input("enter num 2 :")
print("data type of num1 & num2 is:",type(num1),type(num2))  
add = num1+int(num2)
print(add)
print("data type of output is :",type(add))

enter num 1 :10
enter num 2 :15
data type of num1 & num2 is: <class 'int'> <class 'str'>
25
data type of output is : <class 'int'>

In [260]:
#build a calculator
# gets two numbers
# addition, multiplication, subtraction and division

In [263]:
num1 = int(input("Enter the First Number : "))
num2 = int(input("Enter the Second Number : "))

print("The Addition of {0} and {1} is {2}".format(num1,num2,num1+num2))
print("The Multiplication of {0} and {1} is {2}".format(num1,num2,num1*num2))
print("The Substraction of {0} and {1} is {2}".format(num1,num2,num1-num2))
print("The Division of {0} and {1} is {2}".format(num1,num2,num1/num2))

Enter the First Number : 10
Enter the Second Number : 15
The Addition of 10 and 15 is 25
The Multiplication of 10 and 15 is 150
The Substraction of 10 and 15 is -5
The Division of 10 and 15 is 0.6666666666666666

In [264]:
#Swap values without using third variable
a = 10
b = 50
a,b = b,a

In [266]:
a = 35
b = 20
a = a + b #55
b = a - b # 35
a = a - b

print(a,b)

20 35

In [270]:
a = 10 
b = 50
print(a,b)

a = a^b # output 56
b = b^a # output 10
a = a^b #output 50
print(a,b)

10 50
50 10

<h2> Collection Objects

In [271]:
# Collection Literal --> List, Tuple, Dictionary, Set

In [272]:
#List []
#---> Different data type, +  Mutable 
    #  + Square bracket[] + sep by Comma(,)
list_2 = ['James', 34, 700, "Bond's"]
list_1 = ['love', 53, 35, 'hate']
print(list_2)
print(list_2+list_1) 
#Can

['James', 34, 700, "Bond's"]
['James', 34, 700, "Bond's", 'love', 53, 35, 'hate']

In [275]:
print(list_2/list_1)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [280]:
l1 = [2,3,4]
l2 = [7,8,9]
l2*l1

TypeError: can't multiply sequence by non-int of type 'list'

In [281]:
#Tuple()
#Immutable + Different Data Type + sep by comma(,)
#+ enclosed by parenthesis ()

tup = (10, 20, "Dave", l2, [1,2,3])
print(tup)

(10, 20, 'Dave', [7, 8, 9], [1, 2, 3])

In [283]:
#Dictionary{key:Value,}
#enclosed by Curly-braces{} and each pair is sep by comma(,)
dict_1 ={'name':'Himanshu', "age" : 29, 'Service Allocated' : "Indian Police Service"}
print(dict_1)

{'name': 'Himanshu', 'age': 29, 'Service Allocated': 'Indian Police Service'}

In [285]:
#SET {values}
#Unordered + sep by Comma(,)
set_1 = {'apple', 'book', 'Grapes', 'Paisa hi paisa hoga'}
print(set_1)

{'apple', 'Paisa hi paisa hoga', 'book', 'Grapes'}

In [290]:
set_2 = {'g','a', 'b','c','f'}
set_2

{'a', 'b', 'c', 'f', 'g'}

In [291]:
#Broadcasting
# list
# tuple
# set
# dict

In [292]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [293]:
set("Hello") # Non Repitative Values

{'H', 'e', 'l', 'o'}

In [295]:
list_1 = [1,2,3,4]
type(list_1)

list

In [297]:
tuple(list_1) ,type(tuple(list_1))

((1, 2, 3, 4), tuple)

In [300]:
blank_list = []
blank_tuple = ()
blank_set = {}
blank_dict = dict()

In [301]:
print(type(blank_dict))

<class 'dict'>

##Data Types in Python

### Strings

Besides numbers, Python can also manipulate strings. Strings can enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result. Use `\` to escape quotes, that is, to use a quote within the string itself:

In [305]:
'spam egg' #Single Quotes.

'spam egg'

In [306]:
'Doesn\'t' # Use \' to escape the single quote...

"Doesn't"

In [307]:
"Doesn't " # ...or use double quotes instead.

"Doesn't "

In [308]:
'"Yes",he said'

'"Yes",he said'

In [309]:
"\"Yes\",He Said"

'"Yes",He Said'

In [310]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In the interactive interpreter and Jupyter notebooks, the output string is enclosed in quotes and special characters are escaped with backslashes. Although this output sometimes looks different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise its enclosed in single quotes. The [`print()`](https://docs.python.org/3.6/library/functions.html#print) function produces a more readable output by omitting the enclosing quotes and by printing escaped and special characters:

In [311]:
'"Isn\'t", she said.'

'"Isn\'t", she said.'

In [312]:
print('"Isn\'t," she said')

"Isn't," she said

In [317]:
s = 'First line. \nSecond Line' #\n means next lines
s #Without print(, \n is included in the output)

'First line. \nSecond Line'

In [318]:
print(s) #With print(), \n produces a new line.

First line.
Second Line

If you don't want escaped characters (prefaced by `\`) to be interpreted as special characters, use *raw strings* by adding an `r` before the first quote:

In [320]:
print('C:\some\name') #here \n means new line

C:\some
ame

In [322]:
print('C:\some\\name') #use \ to escape or use r'' --> Raw string

C:\some\name

In [323]:
print(r'C:\some\name')

C:\some\name

String literals can span multiple lines and are delineated by triple-quotes: `"""..."""` or `'''...'''`. End of lines are automatically included in the string, but it's possible to prevent this by adding a `\` at the end of the line. For example, without a `\`, the following example includes an extra line at the beginning of the output:

In [324]:
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Adding a `\` removes that extra line:

In [326]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Because Python doesn't provide a means for creating multi-line comments, developers often just use triple quotes for this purpose. In a Jupyter notebook, however, such quotes define a string literal which appears as the output of a code cell:

In [327]:
"""
Everything between the first three quotes, including new lines,
is part of the multi-line comment. Technically, the Python interpreter
simply sees the comment as a string, and because it's not otherwise
used in code, the string is ignored. Convenient, eh?
"""

"\nEverything between the first three quotes, including new lines,\nis part of the multi-line comment. Technically, the Python interpreter\nsimply sees the comment as a string, and because it's not otherwise\nused in code, the string is ignored. Convenient, eh?\n"

For this reason, it's best in notebooks to use the `#` comment character at the beginning of each line, or better still, just use a Markdown cell!

Strings can be *concatenated* (glued together) with the `+` operator, and repeated with `*`:

In [329]:
#3 times 'un', followed by 'ium'
3 * "Om" + 'ium'

'OmOmOmium'

In [330]:
print(" " + "hello" + "'" + 'world')

 hello'world

Two or more *string literals* (that is, the values enclosed in quotes) placed next to each other are automatically concatenated:

In [333]:
'py'             'thoum'

'pythoum'

Automatic concatenation works only with two literals; it does not work with variables or expressions, so the following cell produces an error:

In [334]:
prefix = 'Py'
prefix 'thon'  # Can't concatenate a variable and a string literal.

SyntaxError: invalid syntax (<ipython-input-334-00ad70cd97bc>, line 2)

In [335]:
The following cell likewise produces an error:

SyntaxError: invalid syntax (<ipython-input-335-12eded0bbdd5>, line 1)

In [338]:
('un'*3) 'pi'

SyntaxError: invalid syntax (<ipython-input-338-5d15379be30b>, line 1)

In [339]:
('hi'*3)  +'look'

'hihihilook'

In [340]:
pre = 'py'
pre + 'thon'

'python'

Automatic concatenation is particularly useful when you want to break up long strings:

In [343]:
text = ('Hello, my name is himanshu'
    ' How are you doing')
text

'Hello, my name is himanshu How are you doing'

Strings can be *indexed* (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [344]:
x = "hello world"
x[2]

'l'

In [345]:
x[5]

' '

In [346]:
x[6:8] # end position is exclusive, start is inclusive

'wo'

In [347]:
x

'hello world'

In [350]:
x[:5] #start from index zero to 4 , end was exlcuded

'hello'

In [351]:
x[-1]

'd'

In [364]:
x[-1:-15:-1] #Reserve the string

'dlrow olleh'

In [366]:
x[::-1]

'dlrow olleh'

In [367]:
word = 'Python'
word[0]  # Character in position 0.

'P'

In [368]:
word[5]  # Character in position 5.

'n'

Indices may also be negative numbers, which means to start counting from the end of the string. Note that because -0 is the same as 0, negative indices start from -1:

In [369]:
word[-1] #Last Character

'n'

In [370]:
word[-2] #Second last Character

'o'

In [371]:
word[-6]

'P'

In addition to indexing, which extracts individual characters, Python also supports *slicing*, which extracts a substring. To slide, you indicate a *range* in the format `start:end`, where the start position is included but the end position is excluded:

In [372]:
word[0:2]  # Characters from position 0 (included) to 2 (excluded).

'Py'

In [373]:
word[2:5]  # Characters from position 2 (included) to 5 (excluded).

'tho'

In [374]:
word[:2]   # Character from the beginning to position 2 (excluded).

'Py'

In [375]:
word[4:]  # Characters from position 4 (included) to the end.

'on'

In [376]:
word[-2:] # Characters from the second-last (included) to the end.

'on'

This characteristic means that `s[:i] + s[i:]` is always equal to `s`:

In [377]:
word[:3] + word[3:]

'Python'

In [378]:
word[:4] + word[4:]

'Python'

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*. For example:

The first row of numbers gives the position of the indices 0...6 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively.

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. For example, the length of `word[1:3]` is 2.

Attempting to use an index that is too large results in an error:

In [380]:
word

'Python'

In [382]:
word[42] # the word has only 6 character

IndexError: string index out of range

However, when used in a range, an index that's too large defaults to the size of the string and does not give an error. This characteristic is useful when you always want to slice at a particular index regardless of the length of a string:

In [383]:
word[4:42]

'on'

In [384]:
word[42:]

''

Python strings are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), which means they cannot be changed. Therefore, assigning a value to an indexed position in a string results in an error:

In [385]:
word[2]

't'

In [387]:
word[0] = 't'

TypeError: 'str' object does not support item assignment

In [388]:
word[2:] ="helllp"

TypeError: 'str' object does not support item assignment

A slice it itself a value that you can concatenate with other values using `+`:

In [389]:
"j" + word[1:]

'jython'

In [390]:
word[:2] + 'Py'

'PyPy'

A slice, however, is not a string literal and cannot be used with automatic concatenation. The following code produces an error:

In [391]:
word[:2] 'Py' #Slice is not a literal; produces an error

SyntaxError: invalid syntax (<ipython-input-391-44d5822b4886>, line 1)

The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [392]:
s = ' supercalifragilisticexpialidocious  '
len(s)

37

In [393]:
"abc".upper(), "ABC".lower(), "   ABC   ".strip(), "  ABC  ".lstrip()

('ABC', 'abc', 'ABC', 'ABC  ')

In [395]:
"   ABC   ".rstrip(), "   ABC   ".rsplit

('   ABC', <function str.rsplit(sep=None, maxsplit=-1)>)

### Lists

Python knows a number of _compound_ data types, which are used to group together other values. The most versatile is the [*list*](https://docs.python.org/3.5/library/stdtypes.html#typesseq-list), which can be written as a sequence of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [396]:
squares = [1, 2, 3, 4, 5, 6]
squares

[1, 2, 3, 4, 5, 6]

Like strings (and all other built-in [sequence](https://docs.python.org/3.5/glossary.html#term-sequence) types), lists can be indexed and sliced:

In [398]:
squares[0]  # Indexing returns the item.

1

In [399]:
squares[-1]

6

In [401]:
squares[-3:] # Slicing returns a new list.

[4, 5, 6]

In [402]:
squares[:]

[1, 2, 3, 4, 5, 6]

Unlike strings, which are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), lists are a [mutable](https://docs.python.org/3.5/glossary.html#term-mutable) type, which means you can change any value in the list:

In [406]:
cubes = [1,8,27,65,125] #Something's wrong here....
4**3  # the cube of 4 is 64, not 65!

64

In [407]:
cubes[3] = 64

In [408]:
cubes

[1, 8, 27, 64, 125]

Use the list's `append()` method to add new items to the end of the list:

In [409]:
cubes

[1, 8, 27, 64, 125]

In [410]:
# Append
cubes.append('append me!')
cubes.append(216)  # Add the cube of 6 ...
cubes.append(7 ** 3)  # and the cube of 7.
cubes

[1, 8, 27, 64, 125, 'append me!', 216, 343]

In [411]:
#pop off the 2 indexed item
cubes.pop(2)

27

In [412]:
cubes

[1, 8, 64, 125, 'append me!', 216, 343]

In [413]:
cubes.pop()

343

In [414]:
cubes

[1, 8, 64, 125, 'append me!', 216]

In [415]:
# Assign the popped element, remember default popped index is -1
popped_item = cubes.pop()

In [416]:
popped_item

216

In [417]:
cubes[100] # it will throw an error because the index 100 is out of the range

IndexError: list index out of range

You can even assign to slices, which can change the size of the list or clear it entirely:

In [421]:
letters = ["a", 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [422]:
#Replace some values
letters[2:5] = ['C','D','E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [424]:
#Now remove
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [425]:
# Clear the list by replacing all the elements with an empty list.

letters[:] = []
letters

[]

The built-in [`len()`](https://docs.python.org/3.5/library/functions.html#len) function also applies to lists:

In [426]:
letters = ["a", 'b', 'c', 'd', 'e', 'f', 'g']
len(letters)

7

You can nest lists, which means to create lists that contain other lists. For example:

In [ ]:
a = ['a','b','c']
n = [1,2,3]
x = [a, n]
x

In [428]:
x[0]

['a', 'b', 'c']

In [429]:
x[1]

[1, 2, 3]

In [430]:
x[0][2]

'c'

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [431]:
a = ['a', 'b', 'c']

In [432]:
a.append(["value1_a","value2_a",['value1','value2']])

In [435]:
len(a)

4

In [436]:
a

['a', 'b', 'c', ['value1_a', 'value2_a', ['value1', 'value2']]]

In [437]:
a[-1][-1][-1]

'value2'

In [439]:
a[-1][-1][1] = 99

In [440]:
a

['a', 'b', 'c', ['value1_a', 'value2_a', ['value1', 99]]]

In [442]:
a[3][0]

'value1_a'

In [443]:
# list []
# indexing []
# tuple ()
# sets {}
# dict {}

In [444]:
new_list = ['a','e','x','b','c']

In [445]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [446]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [447]:
new_list

['c', 'b', 'x', 'e', 'a']

In [448]:
new_list.reverse()

In [449]:
new_list

['a', 'e', 'x', 'b', 'c']

In [450]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [451]:
new_list.sort()

In [452]:
new_list

['a', 'b', 'c', 'e', 'x']

In [453]:
a.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [454]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [455]:
#show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [456]:
type(matrix)

list

In [457]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [458]:
new_list.sort(reverse=True)

In [459]:
new_list

['x', 'e', 'c', 'b', 'a']

### Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [462]:
#make a dictionary with {} and : to signify a key and value
my_dict = {'key1' : "Value1", "key2" : "Value2"}

In [463]:
#Call Values by their keys
my_dict['key2']

'Value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [464]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [465]:
my_dict['key1']*3

369

In [466]:
# let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [467]:
#can call index on that value
my_dict['key3'][0:2]

['item0', 'item1']

In [468]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [469]:
my_dict['key1']

123

In [470]:
my_dict['key1'] = my_dict['key1'] - 101

In [471]:
my_dict['key1']

22

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [472]:
# Set the object equal to itself minus 123 
my_dict['key1'] -=123
my_dict['key1']

-101

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [473]:
#Create a new dictionary
d ={}

In [474]:
type(d)

dict

In [475]:
#Create a new key through assignment
d['Animal'] ="Dog"

In [476]:
d

{'Animal': 'Dog'}

In [480]:
d["Animal"] = 'Cat' #It replace the old value associated with the Key

In [481]:
d["Animal"]

'Cat'

In [482]:
d

{'Animal': 'Cat'}

In [483]:
# Can do this with any object
d['answer'] = 42

In [484]:
#Show
d

{'Animal': 'Cat', 'answer': 42}

### Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [485]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1' : {'nestkey1':{'subnestedkey1' : "Value"}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [487]:
#Creating a new dictionary 
d = {'k1' :"v1", 'k2' : 'v2', 'k3' :'v3'}

In [488]:
#Method to return a list of all keys
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [490]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [491]:
#Methods to grab all values
d.values()

dict_values(['v1', 'v2', 'v3'])

In [492]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3')])

Hopefully you now have a good basic understanding how to construct dictionaries. There's a lot more to go into here, but we will revisit dictionaries at later time. After this section all you need to know is how to create a dictionary and how to retrieve values from it.

##Popular Question Answered on Quora
<span class='quora-content-embed' data-name='How-should-I-start-learning-Python-1/answer/Neha-Ahuja-178'>Read <a class='quora-content-link' data-width='560' data-height='260' href='https://www.quora.com/How-should-I-start-learning-Python-1/answer/Neha-Ahuja-178' data-type='answer' data-id='122319626' data-key='f8a735498f074d34d32023d61c740361' load-full-answer='False' data-embed='dmvmtdw'><a href='https://www.quora.com/Neha-Ahuja-178'>Neha Ahuja</a>&#039;s <a href='/How-should-I-start-learning-Python-1?top_ans=122319626'>answer</a> to <a href='/How-should-I-start-learning-Python-1' ref='canonical'><span class="rendered_qtext">How should I start learning Python?</span></a></a> on <a href='https://www.quora.com'>Quora</a><script type="text/javascript" src="https://www.quora.com/widgets/content"></script></span>

<span class='quora-content-embed' data-name='What-is-the-use-of-learning-the-Python-language/answers/170367059'>Read <a class='quora-content-link' data-width='560' data-height='260' href='https://www.quora.com/What-is-the-use-of-learning-the-Python-language/answers/170367059' data-type='answer' data-id='170367059' data-key='064f54675b4d9e2f23ae166cd062388f' load-full-answer='False' data-embed='dmvmtdw'><a href='https://www.quora.com/Mohammad-Waseem-95'>Mohammad Waseem</a>&#039;s <a href='/What-is-the-use-of-learning-the-Python-language?top_ans=170367059'>answer</a> to <a href='/What-is-the-use-of-learning-the-Python-language' ref='canonical'><span class="rendered_qtext">What is the use of learning the Python language?</span></a></a> on <a href='https://www.quora.com'>Quora</a><script type="text/javascript" src="https://www.quora.com/widgets/content"></script></span>

<span class='quora-content-embed' data-name='Why-would-you-recommend-learning-Python-What-makes-it-useful/answer/Janarthanan-Soundararajan'>Read <a class='quora-content-link' data-width='560' data-height='260' href='https://www.quora.com/Why-would-you-recommend-learning-Python-What-makes-it-useful/answer/Janarthanan-Soundararajan' data-type='answer' data-id='25331268' data-key='5b02e3049ad8b5590dd59bbc845224e4' load-full-answer='False' data-embed='dmvmtdw'><a href='https://www.quora.com/Janarthanan-Soundararajan'>Janarthanan Soundararajan</a>&#039;s <a href='/Why-would-you-recommend-learning-Python-What-makes-it-useful?top_ans=25331268'>answer</a> to <a href='/Why-would-you-recommend-learning-Python-What-makes-it-useful' ref='canonical'><span class="rendered_qtext">Why would you recommend learning Python? What makes it useful?</span></a></a> on <a href='https://www.quora.com'>Quora</a><script type="text/javascript" src="https://www.quora.com/widgets/content"></script></span>

In [493]:
##Building a Basic Calculator

In [495]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number"))

add = num1+num2
sub = num1 - num2
mul = num1*num2
div = num1/num2

print('The Addition of {0} and {1} is {2}'.format(num1,num2,add))
print('The Substraction of {0} and {1} is {2}'.format(num1,num2,sub))
print('The Multiplication of {0} and {1} is {2}'.format(num1,num2,mul))
print('The Division of {0} and {1} is {2}'.format(num1,num2,div))

Enter first number 10
Enter second number20
The Addition of 10 and 20 is 30
The Substraction of 10 and 20 is -10
The Multiplication of 10 and 20 is 200
The Division of 10 and 20 is 0.5

##In Class Practise Question 1

In [496]:
#multiplication Table
num = int(input("Enter the Number"))
for i in range(1,11):
    print(i,"X",num,"=",i*num)

Enter the Number10
1 X 10 = 10
2 X 10 = 20
3 X 10 = 30
4 X 10 = 40
5 X 10 = 50
6 X 10 = 60
7 X 10 = 70
8 X 10 = 80
9 X 10 = 90
10 X 10 = 100

In [497]:
#Swapping using 3 variable
a = 1
b = 4
temp = a
a =b
b= temp
print(a,b)

4 1

In [498]:
#Swapping using Multiplication
a = 10
b = 20
print(a,b)
a = a+b
b = a-b
a = a-b
print(a,b)

10 20
20 10

In [499]:
# Swapping using Using XOR
a = 10
b = 20
print(a,b)
a = a^b
b = b^a
# a = a^b
print(a,b)

10 20
30 10